<div class="background-video-container">
  <video
    autoplay
    playsinline
    muted
    loop
    id="background-video-water"
    class="__video --water"
  >
    <source src="{{ site.baseurl }}/assets/video/water.mp4" type="video/mp4" />
  </video>

  <video
    autoplay
    playsinline
    muted
    loop
    id="background-video-water-rough"
    class="__video --water-rough"
  >
    <source
      src="{{ site.baseurl }}/assets/video/water-rough.mp4"
      type="video/mp4"
    />
  </video>

  <div class="__overlay"></div>
</div>
