<div class="background-video-container">
  <div id="background-video-player">
    {% if page.videos.flowing %}
    <div class="__video --flowing" data-video-name="flowing">
      <div id="background-video-player-flowing"></div>
      <div class="__overlay overlay --white-fade"></div>
      <div class="__overlay overlay --gray-blue"></div>
      <div class="__overlay overlay --blue-blue"></div>
      <div class="__overlay overlay --dark-blue"></div>
      <div class="__overlay overlay --dark-blue-inv"></div>
      <div class="__overlay overlay --your-data-belongs-to-you"></div>
      <div class="__overlay overlay --if-the-service-is-free"></div>
      <div
        class="__overlay overlay --a-privacy-platform-youll-want-to-use"
      ></div>
    </div>
    {% endif %} {% if page.videos.smooth %}
    <div class="__video --smooth" data-video-name="smooth">
      <div id="background-video-player-smooth"></div>
      <div class="__overlay overlay --white-fade"></div>
    </div>
    {% endif %} {% if page.videos.rough %}
    <div class="__video --rough" data-video-name="rough">
      <div id="background-video-player-rough"></div>
      <div class="__overlay overlay --feathered-gray-blue"></div>
      <div class="__overlay overlay --dark-blue"></div>
      <div class="__overlay overlay --dark-blue-inv"></div>
      <div class="__overlay overlay --the-business-of-river"></div>
      <div class="__overlay overlay --the-business-of-data"></div>
      <div class="__overlay overlay --streams"></div>
    </div>
    {% endif %} {% if page.videos.creek %}
    <div class="__video --creek" data-video-name="creek">
      <div id="background-video-player-creek"></div>
      <div class="__overlay overlay --creek"></div>
      <div class="__overlay overlay --working-with-big-tech"></div>
      <div class="__overlay overlay --streams"></div>
    </div>
    {% endif %} {% if page.videos.jungle %}
    <div class="__video --jungle" data-video-name="jungle">
      <div id="background-video-player-jungle"></div>
      <div class="__overlay overlay --riverbank"></div>
    </div>
    {% endif %}
  </div>

  {% if page.lineDrawing %} {% include line_drawings.html %} {% endif %}
</div>
