<header class="header">
  <div class="__logo">
    <a href="{{ site.baseurl }}{% link index.html %}" title="River"
      >{% include river_logo.svg %}</a
    >
    <div class="__shimmer"></div>
  </div>
  <div class="__links">
    <div class="__link-container">
      <a
        href="{{ site.baseurl }}{% link signup.html %}"
        title="Platform"
        class="__link l1"
        >Platform</a
      >
      <ul class="__sublinks">
        <li>
          <a class="l1" href="{{ site.baseurl }}{% link signup.html %}"
            >Data Exchange</a
          >
        </li>
        <li>
          <a class="l1" href="{{ site.baseurl }}{% link signup.html %}"
            >Data Integrity</a
          >
        </li>
      </ul>
    </div>

    <div class="__link-container">
      <a
        href="{{ site.baseurl }}{% link signup.html %}"
        title="Products"
        class="__link l1"
        >Products</a
      >
      <ul class="__sublinks">
        <li>
          <a class="l1" href="{{ site.baseurl }}{% link signup.html %}"
            >Social</a
          >
        </li>
        <li>
          <a class="l1" href="{{ site.baseurl }}{% link signup.html %}"
            >Discovery</a
          >
        </li>
        <li>
          <a class="l1" href="{{ site.baseurl }}{% link signup.html %}"
            >Monetization</a
          >
        </li>
      </ul>
    </div>

    <div class="__link-container">
      <a
        href="{{ site.baseurl }}{% link signup.html %}"
        title="Services"
        class="__link l1"
        >Services</a
      >
      <ul class="__sublinks">
        <li>
          <a class="l1" href="{{ site.baseurl }}{% link signup.html %}"
            >Compliance</a
          >
        </li>
        <li>
          <a class="l1" href="{{ site.baseurl }}{% link signup.html %}"
            >Data Insights</a
          >
        </li>
        <li>
          <a class="l1" href="{{ site.baseurl }}{% link signup.html %}"
            >App Development</a
          >
        </li>
      </ul>
    </div>

    <div class="__link-container">
      <a
        href="{{ site.baseurl }}{% link index.html %}#home-resources"
        title="About"
        class="__link l1"
        >About</a
      >
      <ul class="__sublinks">
        <li>
          <a class="l1" href="{{ site.baseurl }}{% link signup.html %}"
            >Press</a
          >
        </li>
        <li>
          <a class="l1" href="{{ site.baseurl }}{% link signup.html %}"
            >Legal</a
          >
        </li>
        <li>
          <a class="l1" href="{{ site.baseurl }}{% link signup.html %}">Team</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="__page-links">
    <div class="__pages">
      <a
        href="{{ site.baseurl }}{% link riverbank.html %}"
        title="Riverbank"
        class="__link l1 __page-link"
        ><img src="{{ site.baseurl }}/assets/img/riverbank.png" alt="Riverbank"
      /></a>
      <a
        href="{{ site.baseurl }}{% link streams.html %}"
        title="StreamS"
        class="__link l1 __page-link"
        ><img src="{{ site.baseurl }}/assets/img/streams.png" alt="StreamS"
      /></a>
    </div>
    <a
      href="{{ site.baseurl }}{% link signup.html %}"
      title="Sign Up"
      class="__link button --sign-up"
      >Sign Up</a
    >
  </div>
</header>
