<header class="header">
  <div class="__logo">
    <a href="{{ site.baseurl }}{% link index.html %}" title="River"
      >{% include river_logo.svg %}</a
    >
    <div class="__shimmer"></div>
  </div>
  <div class="__links">
    <div class="__link-container">
      <a href="javascript:void" title="Platform" class="__link l1">Platform</a>
      <ul class="__sublinks">
        <li><a class="l1" href="javascript:void">Data Exchange</li>
        <li><a class="l1" href="javascript:void">Data Integrity</li>
      </ul>
    </div>

    <div class="__link-container">
      <a href="javascript:void" title="Products" class="__link l1">Products</a>
      <ul class="__sublinks">
        <li><a class="l1" href="javascript:void">Monetization</li>
        <li><a class="l1" href="javascript:void">Discovery</li>
      </ul>
    </div>

    <div class="__link-container">
      <a href="javascript:void" title="Services" class="__link l1">Services</a>
      <ul class="__sublinks">
        <li><a class="l1" href="javascript:void">Compliance</li>
        <li><a class="l1" href="javascript:void">App Development</li>
      </ul>
    </div>

    <div class="__link-container">
      <a href="javascript:void" title="About" class="__link l1">About</a>
      <ul class="__sublinks">
        <li><a class="l1" href="javascript:void">Press</li>
        <li><a class="l1" href="javascript:void">Legal</li>
        <li><a class="l1" href="javascript:void">Team</li>
      </ul>
    </div>
  </div>
  <div class="__page-links">
    <a
      href="{{ site.baseurl }}{% link riverbank.html %}"
      title="Riverbank"
      class="__link l1 --gray-fill __page-link"
      >R</a
    >
    <a
      href="{{ site.baseurl }}{% link streams.html %}"
      title="StreamS"
      class="__link l1 --gray-fill __page-link"
      >S</a
    >
  </div>
  <div class="__sign-up">
    <a href="javascript:void" title="Sign Up" class="__link button --sign-up"
      >Sign Up</a
    >
  </div>
</header>
