<header class="header">
  <div class="__logo">
    <a
      href="{{ site.baseurl }}{% link index.html %}"
      title="River"
      class="__river"
      >{% include river_logo.svg %}</a
    >
    <div id="hamburger" class="__hamburger hamburger">
      <a href="javascript:river.toggleHamburger();" class="__toggle">
        <svg viewBox="0 0 100 80" width="40" height="40">
          <rect fill="currentColor" y="15" width="100" height="1"></rect>
          <rect fill="currentColor" y="45" width="100" height="1"></rect>
          <rect fill="currentColor" y="75" width="100" height="1"></rect>
        </svg>
      </a>
      <ul class="__links">
        {% include hamburger_link.html title="Introduction" section="home-intro"
        %} {% include hamburger_link.html title="River is a platform for your
        data" section="home-privacy-platform" %} {% include hamburger_link.html
        title="You create $data$ every day" section="home-video-1" %} {% include
        hamburger_link.html title="Your Data Belongs to You"
        section="your-data-belongs-to-you" %} {% include hamburger_link.html
        title="If the service is free, you are probably the product"
        section="home-river-gives-you-control" %} {% include hamburger_link.html
        title="A privacy platform you'll want to use"
        section="home-privacy-platform-2" %} {% include hamburger_link.html
        title="Who is using your data?" section="home-who-is-using-your-data" %}
        {% include hamburger_link.html title="Working with Deep Tech"
        section="home-working-with-big-tech" %} {% include hamburger_link.html
        title="Data Untapped" section="home-data-untapped" %} {% include
        hamburger_link.html title="The Business of River"
        section="home-how-does-river-work" %} {% include hamburger_link.html
        title="The Business of Data" section="home-business-of-data" %} {%
        include hamburger_link.html title="About" section="home-resources" %}
      </ul>
    </div>
  </div>
  <div class="__links">
    <div class="__link-container">
      <a
        href="{{ site.baseurl }}{% link signup.html %}"
        title="Videos"
        class="__link l1"
        >Videos</a
      >
      <ul class="__sublinks">
        <li>
          <a class="l1" href="{{ site.baseurl }}{% link index.html %}#home-video-1" onclick="return river.showSection(event)"
            >You create $data$ every day</a
          >
        </li>
        <li>
          <a class="l1" href="{{ site.baseurl }}{% link index.html %}#home-data-untapped" onclick="return river.showSection(event)"
            >Data Untapped</a
          >
        </li>
        <li>
          <a class="l1" href="{{ site.baseurl }}{% link index.html %}#home-business-of-data" onclick="return river.showSection(event)"
            >The Business of Data</a
          >
        </li>
      </ul>
    </div>

    <div class="__link-container">
      <a
        href="{{ site.baseurl }}{% link signup.html %}"
        title="Team"
        class="__link l1"
        >Team</a
      >
    </div>

    <div class="__link-container">
      <a
        href="{{ site.baseurl }}{% link about.html %}"
        title="About"
        class="__link l1"
        >About</a
      >
    </div>
  </div>
  <div class="__page-links">
    <div class="__pages">
      <a
        href="{{ site.baseurl }}{% link riverbank.html %}"
        title="Riverbank"
        class="__link l1 __page-link"
        ><img src="{{ site.baseurl }}/assets/img/riverbank.png" alt="Riverbank"
      /></a>
      <a
        href="{{ site.baseurl }}{% link streams.html %}"
        title="StreamS"
        class="__link l1 __page-link"
        ><img src="{{ site.baseurl }}/assets/img/streams.png" alt="StreamS"
      /></a>
    </div>
    <a
      href="{{ site.baseurl }}{% link signup.html %}"
      title="Sign Up"
      class="__link button --sign-up"
      >Sign Up</a
    >
  </div>
</header>
