:root {
  --blue-dark: #0f2b4d;
  --blue-background: #0e2b68;
  --gray-dark: #3f3f3f;
  --gray404040: #404040;
  --gray-beast: #666666;
  --gray-8e: #8e8e8e;
  --gray-medium: #999999;
  --gray-light: #b2b2b2;
  --yellow: #edfb8b;
  --green: #68cf6d;
  --orange: #e16e36;
  --magenta: #8e215c;
  --purple: #571074;
  --red: #b8302e;
  --white: #ffffff;
}
