// https://medium.com/building-blocks/how-to-skip-css-transitions-with-jquery-e0155d06e82e
.x-transition {
  -o-transition: none !important;
  -ms-transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.--delay-0-5 {
  transition-delay: 0.5s !important;
}

.--delay-1 {
  transition-delay: 1s !important;
}

.--delay-2 {
  transition-delay: 2s !important;
}

.--delay-3 {
  transition-delay: 3s !important;
}
