@font-face {
  font-family: "Baskerville";
  src: url(../fonts/Baskerville-MT-Std_6114.ttf);
}

@font-face {
  font-family: "Minion";
  src: url(../fonts/MinionPro-Regular.otf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
  font-family: "MontserratBold";
  src: url(../fonts/Montserrat-Bold.otf);
}

@font-face {
  font-family: "Shippori Mincho Medium";
  src: url(../fonts/ShipporiMincho-Medium.ttf);
}

@font-face {
  font-family: "Shippori Mincho Regular";
  src: url(../fonts/ShipporiMincho-Regular.ttf);
}

@font-face {
  font-family: "Shippori Mincho Semi Bold";
  src: url(../fonts/ShipporiMincho-SemiBold.ttf);
}

@font-face {
  font-family: "Shippori Mincho Bold";
  src: url(../fonts/ShipporiMincho-Bold.ttf);
}

@font-face {
  font-family: "Shippori Mincho Extra Bold";
  src: url(../fonts/ShipporiMincho-ExtraBold.ttf);
}
