@import "normalize";
@import "breakpoints";
@import "fonts";
@import "colors";
@import "typography";
@import "overlays";
@import "effects";
@import "sections";

* {
  box-sizing: border-box;
}

html {
  --body-color: var(--gray-dark);
  --logo-color: var(--gray-medium);
  --nav-color: var(--body-color);

  --signup-link-text-color: white;
  --signup-link-pill-color: var(--red);
  --transition-time: 1s;

  &.--animated-bg {
    transition: background-color ease-in var(--transition-time);
  }
}

ul {
  padding-left: 20px;

  li {
    color: var(--body-color);

    &::before {
      color: var(--body-color);
    }
  }
}

body {
  margin: 0;
}

.col2,
.col3 {
  column-gap: 2em;
  column-width: 50%;

  > *:first-child {
    margin-top: 0;
  }

  .__card {
    break-inside: avoid;
    page-break-inside: avoid;

    > *:first-child {
      margin-top: 0;
    }
  }
}

.col2 {
  column-count: 2;
}

.col3 {
  column-count: 3;
}

.flex-col2 {
  display: flex;
  flex-flow: row nowrap;

  > * {
    flex-basis: 49%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}

.flex-col3 {
  display: flex;
  flex-flow: row nowrap;

  > * {
    flex-basis: 33.5%;
  }

  > .--col2 {
    margin-left: 1em;
    flex-basis: 66%;
  }
}

.header {
  height: 8vh;
}

.scroll-container {
  height: 92vh;
  margin-top: 8vh;
}

@keyframes shimmer {
  0% {
    transform: translate(6em, 0);
  }

  10% {
    transform: translate(-6em, 0);
  }

  100% {
    transform: translate(-6em, 0);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  padding: 0 2em;
  margin: 1.5em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 5;

  .__logo {
    flex-basis: 25%;
    flex-shrink: 2;

    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: center;

    a.__river {
      display: block;
      padding: 5px;
    }

    .__hamburger {
      margin: 10px 20px;
    }

    svg {
      width: 3em;
      color: var(--logo-color);
      transition: color ease-in var(--transition-time);
    }

    .__shimmer {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 4em;
      height: 4em;

      background-image: linear-gradient(
        70deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 18%,
        rgba(255, 255, 255, 0.6) 22%,
        rgba(255, 255, 255, 0.6) 40%,
        rgba(255, 255, 255, 0) 42%,
        rgba(255, 255, 255, 0) 100%
      );

      animation: shimmer 5s linear infinite;
    }
  }

  > .__links {
    display: flex;
    flex-basis: 45%;
    flex-grow: 2;
    justify-content: space-between;

    .__link {
      padding: 20px;
    }

    .l1 {
      color: var(--nav-color);
    }

    .__link-container {
      .__sublinks {
        display: none;

        position: absolute;
        list-style-type: none;
        margin-top: 0.25em;

        li {
          display: block;
          padding: 0.25em 1em;
          margin-left: -1em;
        }
      }

      &:hover {
        .__sublinks {
          display: block;
        }
      }
    }
  }

  .__page-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 30%;

    .__pages {
      margin: 0 2vw 0 0;
      display: flex;
      flex-flow: row nowrap;
    }

    img {
      width: 3em;
      height: 3em;
    }

    .__link.--sign-up {
      min-height: 2em;
    }
  }
}

.hamburger {
  position: relative;

  .__toggle {
    z-index: 2;
    font-size: 2em;
    text-decoration: none;
    display: block;
  }

  .__links-c {
  }

  .__links {
    visibility: hidden;
    list-style-type: none;
    padding: 0;
    position: absolute;
    opacity: 0;
    top: 2em;
    left: 1.5em;
    width: 24em;
    transition: top var(--transition-time), opacity var(--transition-time);

    .__li {
      margin: 0.5em 0;
    }

    a {
      padding: 0.5em 0;
      white-space: nowrap;
      font-size: 22px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.--visible {
    .__links-c {
    }

    .__links {
      visibility: visible;
      opacity: 1;
      top: 2em;
      z-index: 1;
    }
  }
}

.main {
  position: relative;
}

.background-video-container {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;

  .__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;

    transition: opacity var(--transition-time);
    opacity: 0;

    iframe {
      width: 100vw;
      height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100vh;
      min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.--visible {
      opacity: 1;
    }
  }
}

.scroll-container {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.section {
  display: flex;
  height: 100%;
  width: 99vw;
  scroll-snap-align: center;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em;

  .__body {
    margin: auto;

    &.--with-video-button {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .__video-button {
      flex-shrink: 0;
      margin-top: 0;
      margin-right: 2.5vw;

      & + div > *:first-child {
        margin-top: 0;
      }
    }
  }

  .__breadcrumb {
    color: var(--gray-dark);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-width: 30vw;
    text-decoration: none;
    transition: opacity var(--transition-time);

    svg {
      color: var(--body-color);
      transition: color ease-in var(--transition-time);
      width: 3em;
    }
    .__teaser {
      margin-left: 0.5em;
    }
  }
}

.play-video-button {
  background-color: transparent;
  border: none;
  width: 188px;
  height: 188px;

  cursor: pointer;

  svg {
    color: var(--body-color);
    transition: color ease-in var(--transition-time);
    width: 100%;
  }

  @include bp-mobile {
    width: 10vw;
    height: 10vw;
  }

  @include bp-small {
    width: 10vw;
    height: 10vw;
  }

  @include bp-medium {
    width: 10vw;
    height: 10vw;
  }
}

.video-player-container {
  position: fixed;
  top: 0;
  left: 0;
  display: block;

  .__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #00000077;
    opacity: 1;
    transition: opacity ease-in 0.1s;
  }

  .__video-player {
    position: fixed;
    left: 10vw;
    top: 10vh;
    width: 80vw;
    height: 80vh;
    transition: left ease-in var(--transition-time);
    transition-delay: 0.1s;

    text-align: center;

    .__int {
      .__player {
        iframe {
          width: calc(min(1063px, 80vw));
          height: calc(min(597px, 80vh));
          max-height: 99vh;
          max-width: 99vw;
        }
      }

      .__placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 90vw;
        height: 80vh;
        transition: opacity ease-in-out var(--transition-time);

        &.--hidden {
          opacity: 0;
          z-index: -1;
        }
      }
    }
  }

  &.--hidden {
    .__overlay {
      left: 100vw;
      opacity: 0;
    }

    .__video-player {
      left: 100vw;
    }
  }
}

.hidden-copy {
  transition: opacity ease-in-out var(--transition-time),
    transform ease-in-out var(--transition-time);
  transform: translate(0%, 100%);
  opacity: 0;
  visibility: hidden;

  &.--visible {
    display: block !important;
    visibility: visible;
    opacity: 1;
    transform: none !important;
  }

  &.--left {
    transform: translate(-100%, 0);
  }

  &.--right {
    transform: translate(200%, 0);
  }
}

.style-guide {
  margin: 200px 50px;

  .__colors {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    > p {
      width: 19vw;
      height: 19vw;
      margin: 0.2vw;
      padding: 2vw;
      color: white;
    }
  }
}

.svg-line-drawing {
  position: fixed;

  left: 0;
  top: calc(80vh - 20vw);
  transition: top ease-in-out 1s, opacity ease-in-out 1s;

  svg {
    position: absolute;
    top: 0;
    left: -5vw;
    width: 110vw;

    $scrib-mask-gradient: linear-gradient(
      0deg,
      white 0%,
      white 30%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 0) 100%
    );

    mask-image: $scrib-mask-gradient;
    -webkit-mask-image: $scrib-mask-gradient;
  }

  path {
    stroke: #aaa;
    fill: transparent;
    stroke-width: 1;
    opacity: 0.8;

    &.--active {
      animation: dash 4s linear forwards;
    }
  }

  .__scrib {
    path {
      transform: translate(0%, -25%);
      stroke-dasharray: 29500;
      stroke-dashoffset: 29500;
    }
  }

  .__scrib-2 {
    path {
      transform: scale(1.2, 1.2) translate(-10%, -50%);
      stroke-dasharray: 29500;
      stroke-dashoffset: 29500;
    }
  }

  .__scrib-3 {
    path {
      transform: translate(5%, -30%);
      stroke-dasharray: 29500;
      stroke-dashoffset: 29500;
    }
  }

  .__scrib1 {
    path {
      transform: translate(-5%, -27%);
      stroke-dasharray: 32500;
      stroke-dashoffset: 32500;
    }
  }

  .__scrib1-2 {
    path {
      transform: scale(1.2, 1.2) translate(-10%, -40%);
      stroke-dasharray: 32500;
      stroke-dashoffset: 32500;
    }
  }

  .__scrib1-3 {
    path {
      transform: scale(0.5, 0.9) translate(0%, -38%);
      stroke-dasharray: 32500;
      stroke-dashoffset: 32500;
    }
  }

  .__scrib2 {
    path {
      transform: translate(-5%, -22%);
      stroke-dasharray: 41500;
      stroke-dashoffset: 41500;
    }
  }

  .__scrib2-2 {
    path {
      transform: scale(1.2, 1.2) translate(-10%, -40%);
      stroke-dasharray: 41500;
      stroke-dashoffset: 41500;
    }
  }

  .__scrib2-3 {
    path {
      transform: scale(0.5, 0.9) translate(0%, -38%);
      stroke-dasharray: 41500;
      stroke-dashoffset: 41500;
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
