@import "normalize";
@import "breakpoints";
@import "fonts";
@import "colors";

* {
  box-sizing: border-box;
}

html {
  --body-color: var(--gray-dark);
  transition: background-color ease-in 0.3s;
}

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
}

.p1,
.p2,
.p3,
.p4 {
  &.--green {
    color: var(--green);
  }

  &.--orange {
    color: var(--orange);
  }

  &.--yellow {
    color: var(--yellow);
  }

  &.--magenta {
    color: var(--magenta);
  }
}

.p1 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  line-height: 1.5em;
  margin-top: 28px;
  margin-bottom: 28px;
  color: var(--body-color);

  @include bp-small {
    font-size: 18px;
  }

  @include bp-medium {
    font-size: 24px;
  }
}

.p2 {
  font-family: "Shippori Mincho Bold", serif;
  font-size: 100px;
  margin-top: 28px;
  margin-bottom: 28px;
  line-height: 1.1em;
  letter-spacing: 0.01em;
  color: var(--body-color);

  @include bp-small {
    font-size: 64px;
  }

  @include bp-medium {
    font-size: 87px;
  }
}

.p3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 31px;
  color: var(--body-color);

  @include bp-small {
    font-size: 18px;
  }

  @include bp-medium {
    font-size: 24px;
  }
}

.p4 {
  font-family: "Baskerville", serif;
  font-style: italic;
  font-size: 31px;
  color: var(--body-color);

  @include bp-small {
    font-size: 18px;
  }

  @include bp-medium {
    font-size: 24px;
  }
}

.l1 {
  font-family: "Baskerville", serif;
  font-style: italic;
  font-size: 30px;
  text-decoration: none;

  &,
  &:hover,
  &:active,
  &:visited {
    color: var(--body-color);
  }

  &:hover {
    text-decoration: underline;
  }
}

.col2,
.col3 {
  column-gap: 2em;
  column-width: 50%;

  > *:first-child {
    margin-top: 0;
  }

  .__card {
    break-inside: avoid;
    page-break-inside: avoid;

    > *:first-child {
      margin-top: 0;
    }
  }
}

.col2 {
  column-count: 2;
}

.col3 {
  column-count: 3;
}

.header {
  position: relative;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;

  > * {
    flex-basis: 33.3%;
  }

  .__logo {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
  }

  .__links {
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;

    .__link {
      padding: 20px;
    }
  }

  .__sign-up {
    display: flex;
    justify-content: flex-end;
    padding: 20px;

    .__link {
      flex-shrink: 0;
      color: white;
      font-family: "Baskerville", serif;
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 4px;

      --signup-link-pill-color: #b8302e;
      background-color: var(--signup-link-pill-color);
      padding: 12px 27px 8px 27px;
      border-radius: 20px;
    }
  }
}

.main {
  position: relative;
  height: 90vh;
}

.video-container {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;

  .__overlay {
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }

  .__video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    transition: opacity 0.3s;
    opacity: 0;
    display: none;
  }
}

.scroll-container {
  position: relative;
  height: 90vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  display: flex;
  height: 90vh;
  width: 100vw;
  scroll-snap-align: center;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;

  .__body {
    margin: auto;
  }

  .__breadcrumb {
    color: var(--gray-dark);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 10vh;
    max-width: 30vw;

    &,
    &:active,
    &:hover,
    &:visited {
      color: var(--gray-dark);
      text-decoration: none;
    }

    padding-left: 100px;
    background-image: url("../img/down-arrow.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center left;

    .__teaser {
      font-family: "Baskerville", serif;
      font-size: 32px;
      color: var(--body-color);
      text-decoration: none;
    }
  }
}

.button-container {
  margin: 20px;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.button {
  font-family: "Montserrat", serif;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  padding: 12px 27px 8px 27px;
  border-radius: 20px;

  &.--red-stroke {
    border: 2px solid var(--orange);
    color: var(--gray-dark);
    background-color: white;
  }

  &.--yellow-fill {
    background-color: var(--yellow);
    color: var(--gray-dark);
  }
}

.play-video-button {
  background-image: url("../img/play-button-white.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;

  background-color: transparent;
  border: none;
  width: 188px;
  height: 188px;

  &.--black {
    background-image: url("../img/play-button-black.png");
  }
}

.bp-debugger {
  position: fixed;
  right: 0;
  bottom: 0;
  border: 1px solid var(--gray-dark);
  display: flex;
  flex-flow: row nowrap;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  padding: 0;
  margin: 0;

  .__bp {
    margin: 0;
    padding: 4px;
    border-right: 1px solid var(--gray-dark);
    text-align: center;

    &::before {
      @include bp-mobile {
        content: "📱";
      }

      @include bp-small {
        content: "S";
      }

      @include bp-medium {
        content: "M";
      }

      @include bp-large {
        content: "L";
      }
    }
  }

  .__w {
    margin: 0;
    padding: 4px;
    text-align: center;
  }
}

/******************************************************************************
  Home Intro
*******************************************************************************/

.section.--home-intro {
  .__body {
    // min-width: 64em;
  }
}

/******************************************************************************
  A Privacy Platform You'll Want To Use
*******************************************************************************/

html[data-section="home-privacy-platform"] {
  .video-container {
    .__video.--water {
      display: block;
      opacity: 1;
    }

    .__overlay {
      background: linear-gradient(#ffffffff, #ffffffff, #ffffff88);
    }
  }
}

section.--home-privacy-platform {
  .__body {
    max-width: 60em;
  }
}

/******************************************************************************
  Video 1
******************************************************************************/

html[data-section="home-video-1"] {
  --body-color: white;
  background-color: var(--blue-dark);

  .__breadcrumb {
    background-image: url("../img/down-arrow-white.png");
  }

  .video-container {
    .__video.--water-rough {
      display: block;
      opacity: 1;
    }

    .__overlay {
      opacity: 0;
    }
  }
}

.section.--home-video-1 {
  max-width: 70em;

  .__body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    .__video-button {
      flex-shrink: 0;
      flex-basis: 200px;
      margin-top: 60px; // Align to top of "You"
      margin-right: 40px;
    }
  }
}

/******************************************************************************
  River Gives You Control
******************************************************************************/

html[data-section="home-river-gives-you-control"] {
  --body-color: white;
  background-color: var(--blue-dark);

  .__breadcrumb {
    background-image: url("../img/down-arrow-white.png");
  }
}

.section.--home-river-gives-you-control {
  max-width: 105em;
}

/******************************************************************************
  Who Owns Your Data
******************************************************************************/

html[data-section="home-who-owns-your-data"] {
  --body-color: white;
  background-color: var(--blue-dark);

  .__breadcrumb {
    background-image: url("../img/down-arrow-white.png");
  }
}

.section.--home-who-owns-your-data {
  max-width: 105em;
}

/******************************************************************************
  Who Is Using Your Data
******************************************************************************/

html[data-section="home-who-is-using-your-data"] {
  --body-color: white;
  background-color: var(--blue-dark);

  .__breadcrumb {
    background-image: url("../img/down-arrow-white.png");
  }
}

.section.--home-who-is-using-your-data {
  max-width: 105em;
}

/******************************************************************************
  Who Is Using Your Data, 2
******************************************************************************/

html[data-section="home-who-is-using-your-data-2"] {
  --body-color: white;
  background-color: var(--blue-dark);

  .__breadcrumb {
    background-image: url("../img/down-arrow-white.png");
  }
}

.section.--home-who-is-using-your-data-2 {
  max-width: 105em;
}

/******************************************************************************
  Data Untapped
******************************************************************************/

html[data-section="home-data-untapped"] {
}

.section.--home-data-untapped {
  max-width: 70em;

  .__body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    .__video-button {
      flex-shrink: 0;
      flex-basis: 200px;
      margin-top: 60px;
      margin-right: 40px;

      background-image: url("../img/play-button-black.png");
    }
  }
}

/******************************************************************************
  How Does River Work
******************************************************************************/

html[data-section="home-how-does-river-work"] {
  --body-color: white;
  background-color: var(--blue-dark);

  .__breadcrumb {
    background-image: url("../img/down-arrow-white.png");
  }
}

.section.--home-how-does-river-work {
  max-width: 105em;
}

/******************************************************************************
  Business of Data
******************************************************************************/

html[data-section="home-business-of-data"] {
  --body-color: white;
  background-color: var(--blue-dark);

  .__breadcrumb {
    background-image: url("../img/down-arrow-white.png");
  }
}

.section.--home-business-of-data {
  max-width: 70em;

  .__body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    .__video-button {
      flex-shrink: 0;
      flex-basis: 200px;
      margin-top: 60px;
      margin-right: 40px;
    }
  }
}

/******************************************************************************
  Resources
******************************************************************************/

html[data-section="home-resources"] {
  --body-color: white;
  background-color: var(--blue-dark);

  .__breadcrumb {
    background-image: url("../img/down-arrow-white.png");
  }
}

.section.--home-resources {
  max-width: 105em;
}
