@import "normalize";
@import "breakpoints";
@import "fonts";
@import "colors";
@import "typography";
@import "effects";

* {
  box-sizing: border-box;
}

html {
  --body-color: var(--gray-dark);
  --logo-color: var(--gray-medium);
  --nav-color: var(--body-color);

  --signup-link-pill-color: var(--red);
  --transition-time: 1s;

  &.--animated-bg {
    transition: background-color ease-in var(--transition-time);
  }
}

ul {
  padding-left: 20px;

  li {
    color: var(--body-color);

    &::before {
      color: var(--body-color);
    }
  }
}

body {
  margin: 0;
}

.col2,
.col3 {
  column-gap: 2em;
  column-width: 50%;

  > *:first-child {
    margin-top: 0;
  }

  .__card {
    break-inside: avoid;
    page-break-inside: avoid;

    > *:first-child {
      margin-top: 0;
    }
  }
}

.col2 {
  column-count: 2;
}

.col3 {
  column-count: 3;
}

.flex-col2 {
  display: flex;
  flex-flow: row nowrap;

  > * {
    flex-basis: 49%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}

.flex-col3 {
  display: flex;
  flex-flow: row nowrap;

  > * {
    flex-basis: 33.5%;
  }
}

.header {
  height: 8vh;
}

.scroll-container {
  height: 92vh;
  margin-top: 8vh;
}

@keyframes shimmer {
  0% {
    transform: translate(6em, 0);
  }

  10% {
    transform: translate(-6em, 0);
  }

  100% {
    transform: translate(-6em, 0);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  padding: 0 2em;
  margin: 1.5em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 5;

  .__logo {
    flex-basis: 25%;
    flex-shrink: 2;
    position: relative;

    a {
      display: block;
      padding: 5px;
    }

    svg {
      width: 3em;
      color: var(--logo-color);
      transition: color ease-in var(--transition-time);
    }

    .__shimmer {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 4em;
      height: 4em;

      background-image: linear-gradient(
        70deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 18%,
        rgba(255, 255, 255, 0.6) 22%,
        rgba(255, 255, 255, 0.6) 40%,
        rgba(255, 255, 255, 0) 42%,
        rgba(255, 255, 255, 0) 100%
      );

      animation: shimmer 5s linear infinite;
    }
  }

  .__links {
    display: flex;
    flex-basis: 40%;
    flex-grow: 2;
    justify-content: space-between;

    .__link {
      padding: 20px;
    }

    .l1 {
      color: var(--nav-color);
    }

    .__link-container {
      .__sublinks {
        display: none;

        position: absolute;
        list-style-type: none;
        margin-top: 0.25em;

        li {
          display: block;
          padding: 0.25em 1em;
          margin-left: -1em;
        }
      }

      &:hover {
        .__sublinks {
          display: block;
        }
      }
    }
  }

  .__page-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    flex-basis: 20%;
    margin-top: 8vh;
  }

  .__sign-up {
    display: flex;
    justify-content: flex-end;
    flex-basis: 10%;

    .__link {
      flex-shrink: 0;
    }
  }
}

.main {
  position: relative;
}

.background-video-container {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;

  .__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity ease-in-out var(--transition-time);

    &.--white-fade {
      background-image: linear-gradient(#ffffffff, #ffffffff, #ffffff88);
    }

    &.--feathered-gray-blue {
      background-image: linear-gradient(
        rgb(107, 107, 107) 0%,
        rgb(35, 64, 104) 50%,
        rgba(35, 64, 104, 0.6) 90%,
        rgba(35, 64, 104, 0) 100%
      );

      $mask-gradient: linear-gradient(
        90deg,
        white 0%,
        rgba(255, 255, 255, 0) 200%
      );

      mask-image: $mask-gradient;
      -webkit-mask-image: $mask-gradient;
    }

    &.--dark-blue {
      background-image: linear-gradient(
        rgb(15, 43, 77) 10%,
        rgba(15, 43, 77, 0.6) 60%,
        rgba(15, 43, 77, 0.4)
      );
    }

    &.--dark-blue-inv {
      background-image: linear-gradient(
        rgba(15, 43, 77, 0.4),
        rgba(15, 43, 77, 0.6) 40%,
        rgb(15, 43, 77) 90%
      );
    }

    &.--gray-blue {
      background-image: linear-gradient(
        #ffffff66,
        rgba(85, 115, 155, 0.6),
        rgba(14, 43, 104, 1)
      );
    }

    &.--blue-blue {
      background-image: linear-gradient(
        rgba(15, 43, 77, 0.4),
        rgba(15, 43, 77, 1)
      );
    }

    &.--blue-blue-2 {
      background-image: linear-gradient(
        rgba(35, 64, 104, 0.4),
        rgba(35, 70, 104, 1)
      );
    }

    &.--creek {
      background-image: linear-gradient(
        rgba(60, 85, 135, 1),
        rgba(60, 85, 135, 1) 10%,
        rgba(60, 85, 135, 0.4) 70%,
        rgba(35, 70, 104, 0)
      );
    }
  }

  .__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;

    transition: opacity var(--transition-time);
    opacity: 0;

    iframe {
      width: 100vw;
      height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100vh;
      min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.--visible {
      opacity: 1;
    }
  }
}

.scroll-container {
  position: relative;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  display: flex;
  height: 100%;
  width: 100vw;
  scroll-snap-align: center;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em;

  .__body {
    margin: auto;

    &.--with-video-button {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .__video-button {
      flex-shrink: 0;
      margin-top: 0;
      margin-right: 2.5vw;

      & + div > *:first-child {
        margin-top: 0;
      }
    }
  }

  .__breadcrumb {
    color: var(--gray-dark);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-width: 30vw;
    text-decoration: none;

    svg {
      color: var(--body-color);
      transition: color ease-in var(--transition-time);
      width: 3em;
    }
    .__teaser {
      margin-left: 0.5em;
    }
  }
}

.play-video-button {
  background-color: transparent;
  border: none;
  width: 188px;
  height: 188px;

  cursor: pointer;

  svg {
    color: var(--body-color);
    transition: color ease-in var(--transition-time);
    width: 100%;
  }

  @include bp-mobile {
    width: 10vw;
    height: 10vw;
  }

  @include bp-small {
    width: 10vw;
    height: 10vw;
  }

  @include bp-medium {
    width: 10vw;
    height: 10vw;
  }
}

.video-player-container {
  position: fixed;
  top: 0;
  left: 0;

  .__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #00000077;
    opacity: 1;
    transition: opacity ease-in 0.1s;
  }

  .__video-player {
    position: fixed;
    left: 5vw;
    top: 10vh;
    width: 90vw;
    height: 80vh;
    background: white;
    transition: left ease-in var(--transition-time);
    transition-delay: 0.1s;

    text-align: center;

    img {
      width: 90vw;
      height: 80vh;
    }
  }

  &.--hidden {
    .__overlay {
      left: 100vw;
      opacity: 0;
    }

    .__video-player {
      left: 100vw;
    }
  }
}

.hidden-copy {
  transition: opacity ease-in-out var(--transition-time),
    transform ease-in-out var(--transition-time);

  opacity: 1;

  &.--hidden {
    opacity: 0;
    transform: translate(0%, 100%);
  }
}

.style-guide {
  margin: 200px 50px;
}

.svg-line-drawing {
  position: fixed;

  left: 0;
  bottom: calc(20vh + 20vw);
  transition: top ease-in-out 1s, opacity ease-in-out 1s;

  svg {
    position: absolute;
    top: 0;
    left: -5vw;
    width: 110vw;

    $scrib-mask-gradient: linear-gradient(
      0deg,
      white 0%,
      white 30%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 0) 100%
    );

    mask-image: $scrib-mask-gradient;
    -webkit-mask-image: $scrib-mask-gradient;
  }

  path {
    stroke: #bbb;
    fill: transparent;
    stroke-width: 3;
    opacity: 0.8;

    &.--active {
      animation: dash 4s linear forwards;
    }
  }

  .__scrib {
    path {
      transform: scale(-1.5, 1) translate(-80%, -10%);
      stroke-dasharray: 22000;
      stroke-dashoffset: 22000;
    }
  }

  .__scrib1 {
    path {
      transform: scale(-1.5, 1) translate(-80%, -20%);
      stroke-dasharray: 31000;
      stroke-dashoffset: 31000;
    }
  }

  .__scrib2 {
    path {
      transform: scale(-1.5, 1) translate(-80%, 0%);
      stroke-dasharray: 38080;
      stroke-dashoffset: 38080;
    }
  }

  .__scrib2-2 {
    path {
      transform: scale(-1.5, 1) translate(-80%, -20%);
      stroke-dasharray: 38080;
      stroke-dashoffset: 38080;
    }
  }

  .__scrib2-3 {
    path {
      transform: scale(-1.7, 1.1) translate(-80%, -20%);
      stroke-width: 5;
      stroke-dasharray: 38080;
      stroke-dashoffset: 38080;
    }
  }

  .__scrib2-4 {
    path {
      transform: scale(-1.7, 1.1) translate(-82%, -25%);
      stroke-width: 5;
      stroke-dasharray: 38080;
      stroke-dashoffset: 38080;
      animation-delay: 4s;
    }
  }

  .__scrib2-5 {
    path {
      transform: scale(-1.7, 0.8) translate(-78%, -30%);
      stroke-width: 5;
      stroke-dasharray: 38080;
      stroke-dashoffset: 38080;
      animation-delay: 6s;
    }
  }

  .__scrib2-6 {
    path {
      transform: scale(-1.7, 0.9) translate(-76%, -28%);
      stroke-width: 5;
      stroke-dasharray: 38080;
      stroke-dashoffset: 38080;
      animation-delay: 8s;
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/******************************************************************************
  Home Intro
*******************************************************************************/

html[data-section="home-intro"] {
  .background-video-container {
    .__overlay.--white-fade {
      opacity: 1;
    }
  }
}
.section.--home-intro {
}

/******************************************************************************
  Priver is a platform for your data
*******************************************************************************/

html[data-section="home-privacy-platform"] {
  .background-video-container {
    .__overlay.--white-fade {
      opacity: 1;
    }
  }
}

section.--home-privacy-platform {
  .__body {
    max-width: 48em;
  }

  .__typing-text-target {
    display: flex;
    flex-flow: row nowrap;
  }
}

/******************************************************************************
  Slides 5-6: Video 1
******************************************************************************/

html[data-section="home-video-1"] {
  --logo-color: var(--gray-light);
  --body-color: white;
  background-color: var(--blue-dark);

  .background-video-container {
    .__overlay.--feathered-gray-blue {
      opacity: 1;
    }
  }

  .svg-line-drawing {
    opacity: 0.2;
  }
}

.section.--home-video-1 {
  max-width: 44em;
}

/******************************************************************************
  Your Data Belongs To You
*******************************************************************************/

html[data-section="your-data-belongs-to-you"] {
  --logo-color: var(--gray-light);
  --body-color: white;
  background-color: var(--blue-dark);

  .background-video-container {
    .__overlay.--blue-blue {
      opacity: 1;
    }
  }
}

.section.--your-data-belongs-to-you {
  max-width: 44em;
}

/******************************************************************************
  River Gives You Control
******************************************************************************/

html[data-section="home-river-gives-you-control"] {
  --logo-color: var(--gray-beast);
  --nav-color: var(--gray-beast);
  --body-color: white;
  background-color: var(--blue-dark);

  .background-video-container {
    .__overlay.--gray-blue {
      opacity: 1;
    }
  }

  .svg-line-drawing {
    opacity: 0.2;
  }
}

.section.--home-river-gives-you-control {
  max-width: 54vw;

  @include bp-mobile {
    max-width: 80vw;
  }

  @include bp-small {
    max-width: 80vw;
  }
}

/******************************************************************************
  A Privacy Platform You'll Want To Use
*******************************************************************************/

html[data-section="home-privacy-platform-2"] {
  --body-color: white;
  background-color: var(--blue-dark);

  .background-video-container {
    .__overlay.--gray-blue {
      opacity: 1;
    }
  }
}

section.--home-privacy-platform-2 {
  .__body {
    max-width: 48em;
  }
}

/******************************************************************************
  Who Owns Your Data
******************************************************************************/

html[data-section="home-who-owns-your-data"] {
  --logo-color: var(--gray-light);
  --body-color: white;
  background-color: var(--blue-dark);

  .background-video-container {
    .__overlay.--blue-blue {
      opacity: 1;
    }
  }

  .svg-line-drawing {
    opacity: 0.2;
  }
}

.section.--home-who-owns-your-data {
  max-width: 54vw;

  @include bp-mobile {
    max-width: 90vw;
  }

  @include bp-small {
    max-width: 90vw;
  }
}

/******************************************************************************
  Who Is Using Your Data
******************************************************************************/

html[data-section="home-who-is-using-your-data"] {
  --logo-color: var(--gray-light);
  --body-color: white;
  background-color: var(--blue-dark);

  .background-video-container {
    .__overlay.--creek {
      opacity: 1;
    }
  }

  .svg-line-drawing {
    opacity: 0.2;
  }
}

.section.--home-who-is-using-your-data {
  max-width: 80vw;

  @include bp-mobile {
    max-width: 90vw;
  }

  @include bp-small {
    max-width: 90vw;
  }
}

/******************************************************************************
  Slide 11: Who Is Using Your Data, 2
******************************************************************************/

html[data-section="home-who-is-using-your-data-2"] {
  --logo-color: var(--gray-light);
  --body-color: white;
  background-color: var(--blue-dark);

  .background-video-container {
    .__overlay.--creek {
      opacity: 1;
    }
  }

  .svg-line-drawing {
    opacity: 0.2;
  }
}

.section.--home-who-is-using-your-data-2 {
  max-width: 80vw;

  @include bp-mobile {
    max-width: 90vw;
  }

  @include bp-small {
    max-width: 90vw;
  }
}

/******************************************************************************
  Data Untapped
******************************************************************************/

html[data-section="home-data-untapped"] {
  .svg-line-drawing {
    top: 0;
  }
}

.section.--home-data-untapped {
  max-width: 39em;
}

/******************************************************************************
  Working with Big Tech
******************************************************************************/

html[data-section="home-working-with-big-tech"] {
  --body-color: white;
  background-color: var(--blue-dark);

  .background-video-container {
    .__overlay.--creek {
      opacity: 1;
    }
  }
}

.section.--home-working-with-big-tech {
  max-width: 44em;
}

/******************************************************************************
  Slide 14: How Does River Work
******************************************************************************/

html[data-section="home-how-does-river-work"] {
  --body-color: white;
  background-color: var(--blue-dark);

  .background-video-container {
    .__overlay.--dark-blue {
      opacity: 1;
    }
  }

  .svg-line-drawing {
    opacity: 0.2;
  }
}

.section.--home-how-does-river-work {
  max-width: 80vw;

  @include bp-mobile {
    max-width: 90vw;
  }

  @include bp-small {
    max-width: 90vw;
  }
}

/******************************************************************************
  Slide 15: Business of Data
******************************************************************************/

html[data-section="home-business-of-data"] {
  --body-color: white;
  background-color: var(--blue-dark);

  .background-video-container {
    .__overlay.--dark-blue-inv {
      opacity: 1;
    }
  }

  .svg-line-drawing {
    opacity: 0.2;
  }
}

.section.--home-business-of-data {
  max-width: 38em;

  .__p1 {
    max-width: 20em;
  }
}

/******************************************************************************
  Resources
******************************************************************************/

html[data-section="home-resources"] {
  --body-color: white;
  background-color: var(--blue-dark);

  .svg-line-drawing {
    opacity: 0;
  }
}

.section.--home-resources {
  max-width: 80vw;
}

/******************************************************************************
  StreamS
******************************************************************************/

html[data-section="streams"] {
  --body-color: white;
  background-color: var(--blue-dark);

  .background-video-container {
    .__overlay.--dark-blue {
      opacity: 1;
    }
  }
}

.section.--streams {
  justify-content: flex-start;
  margin-top: calc(8vh + 80px);

  .__example {
    border-top: 1px solid var(--body-color);
    border-bottom: 1px solid var(--body-color);
  }

  .__copy {
    flex-basis: 59vw;
  }
  .__images {
    max-width: 39vw;

    img {
      max-width: 100%;
    }
  }
}

/******************************************************************************
  RiverBank
******************************************************************************/

html[data-section="riverbank"] {
  .background-video-container {
    .__overlay.--white-fade {
      opacity: 1;
    }
  }
}

.section.--riverbank {
  justify-content: flex-start;
  margin-top: calc(8vh + 80px);

  .__copy {
    flex-basis: 59vw;
  }
  .__images {
    max-width: 39vw;

    img {
      max-width: 100%;
    }
  }
}
