.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;

  transition: opacity ease-in-out var(--transition-time);

  &.--util {
    background: transparent;
    transition: opacity ease-in-out var(--transition-time),
      transform ease-in-out var(--transition-time);
  }

  &.--white-fade {
    background-image: linear-gradient(
      #ffffffff,
      #ffffffff 40%,
      #ffffff66 70%,
      #ffffff00
    );
  }

  &.--feathered-gray-blue {
    background-image: linear-gradient(
      rgba(107, 107, 107, 1) 0%,
      rgba(107, 107, 107, 0.8) 10%,
      rgb(35, 64, 104) 70%,
      rgba(35, 64, 104, 0.9) 100%
    );

    $mask-gradient: linear-gradient(
      90deg,
      white 0%,
      rgba(255, 255, 255, 0) 150%
    );

    mask-image: $mask-gradient;
    -webkit-mask-image: $mask-gradient;
  }

  &.--dark-blue {
    background-image: linear-gradient(
      rgb(15, 43, 77) 10%,
      rgba(15, 43, 77, 0.6) 60%,
      rgba(15, 43, 77, 0.4)
    );
  }

  &.--dark-blue-inv {
    background-image: linear-gradient(
      rgba(15, 43, 77, 0.4),
      rgba(15, 43, 77, 0.6) 40%,
      rgb(15, 43, 77) 90%
    );
  }

  &.--gray-blue {
    background-image: linear-gradient(
      #ffffff66,
      rgba(85, 115, 155, 0.6),
      rgba(14, 43, 104, 1)
    );
  }

  &.--blue-blue {
    background-image: linear-gradient(
      rgba(15, 43, 77, 0.4),
      rgba(15, 43, 77, 1)
    );
  }

  &.--blue-blue-2 {
    background-image: linear-gradient(
      rgba(35, 64, 104, 0.4),
      rgba(35, 70, 104, 1)
    );
  }

  &.--creek {
    background-image: linear-gradient(
      rgba(60, 85, 135, 1),
      rgba(60, 85, 135, 1) 10%,
      rgba(60, 85, 135, 0.4) 70%,
      rgba(35, 70, 104, 0)
    );
  }

  &.--your-data-belongs-to-you {
    background-image: radial-gradient(
      circle at top,
      rgba(92, 178, 178, 1) 0%,
      rgba(50, 102, 156, 1) 37%,
      rgba(5, 9, 47, 1) 90%
    );
  }

  &.--if-the-service-is-free {
    background-image: radial-gradient(
      circle at bottom,
      rgba(92, 178, 178, 1) 0%,
      rgba(50, 102, 156, 1) 37%,
      rgba(5, 9, 47, 1) 90%
    );
  }

  &.--a-privacy-platform-youll-want-to-use {
    background-image: radial-gradient(
      circle at top,
      rgba(92, 178, 178, 1) 0%,
      rgba(50, 102, 156, 1) 37%,
      rgba(5, 9, 47, 1) 90%
    );
  }

  &.--working-with-big-tech {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(37, 93, 187, 0.6) 60%,
      rgba(50, 100, 185, 1) 100%
    );
  }

  &.--the-business-of-river {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(59, 84, 168, 0.4),
      rgba(39, 64, 148, 1)
    );
  }

  &.--the-business-of-data {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(39, 64, 148, 0.4),
      rgba(19, 44, 128, 1)
    );
  }

  &.--riverbank {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
  }

  &.--signup {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
  }

  &.--streams {
    background-image: linear-gradient(
      90deg,
      rgba(39, 64, 148, 0.2),
      rgba(0, 0, 0, 0.6)
    );
  }

  &.--about {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8));
  }
}